{% macro tagLinks(pathToRoot, tagList) %}
  <a href="{{pathToRoot}}">Home</a>
  {# {% for tag, articles in tagList %}
    <a href="{{pathToRoot}}/tag/{{tag}}/">{{tag | title}}</a>
  {% endfor %} #}
{% endmacro %}
