{% extends "base.njk" %}
{% from "partials/taglinks.njk" import tagLinks %}
{% block header %}
  <a href="../../">Home</a>
  {{ tagLinks("../..", tagList) }}
{% endblock %}
{% block main %}
  <h1>{{title}}</h1>
  {{ contents | safe }}
{% endblock %}
