{% from "partials/taglinks.njk" import tagLinks %}
<html lang="en">
<head>
  <title>{{ siteTitle }}</title>
  <link rel="stylesheet" href="/css/cloudygoo.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Creative coding and exploration through software. Posts by Ewan Dennis.">
</head>
<body>
  {% if navImage %}
    <nav style="background-image: url(/media/{{navImage}})">
  {% else %}
    <nav>
  {% endif %}
    <div class="vertical">
      <h1>{{siteTitle}}</h1>
      <h2>{{siteDescription}}</h2>
      {% block header %}
      {{ tagLinks("", tagList) }}
      {% endblock %}
      <a href="https://github.com/ewandennis">GitHub</a>
      <a href="https://twitter.com/ewanovitch">Twitter</a>
    </div>
  </nav>
  <main>
    {% block main %}
    {% endblock %}
  </main>
</body>
</html>
