{% extends "base.njk" %}
{% block main %}
  {% for page in article %}
    <header>
      {% set tagcomma = joiner() %}
      <h3 class="articleDate">
        {{ page.stats.mtime.toDateString() }} on{% for tag in page.tags %}{{tagcomma()}} {{tag.name}}{% endfor %}
      </h3>
      <h1><a href="{{page.path}}/">{{ page.title }}</a></h1>
    </header>
    <p>{{ page.contents | safe | striptags | truncate(300, true, '...') }}</p>
    <hr>
  {% endfor %}
{% endblock %}
