{% from "partials/taglinks.njk" import tagLinks %}
{% extends "base.njk" %}
<h3>tagged {{tag}}</h3>
    {% block header %}
    {{ tagLinks("../..", tagList) }}
    {% endblock %}

{% block main %}
  {% for page in pagination.files %}
    <header>
      {% set tagcomma = joiner() %}
      <h3 class="articleDate">
        {{ page.stats.mtime.toDateString() }} on{% for tag in page.tags %}{{tagcomma()}} {{tag.name}}{% endfor %}
      </h3>
      <h1><a href="../../{{page.path}}/">{{ page.title }}</a></h1>
    </header>
    <p>{{ page.contents | safe | striptags | truncate(300, true, '...') }}</p>
  {% endfor %}
{% endblock %}